.btn-red {
	margin: 0px auto; width: 200px;
	background-color: rgba(150, 10, 0, .9);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.btn-red:hover {
	background-color:rgba(160, 10, 0, .8) ;
}
